 .optionsPopup {
     height: 0px;
 }

 .absolutePopup {
    background-color: #232323;
    border-radius: 5px;
    padding: 4px 0px;
    position: absolute;
    width: 45%;
    overflow: hidden;
 }
 
 .absolutePopup > button {
     float: right;
     border: none;
     color: white;
     background-color: transparent;
     cursor: pointer;
 }
 
 .absolutePopup > p {
     margin: 10px 0px;
     cursor: pointer;
 }
 
 .absolutePopup > p:hover {
    background-color: #f65251;
 }