 .optionsPopup {
     height: 0px;
 }

 .absolutePopup {
    background-color: #232323;
    border-radius: 5px;
    padding: 4px 0px;
    position: absolute;
    width: 45%;
    overflow: hidden;
 }
 
 .absolutePopup > p{
     margin: 5px 0px;
     cursor: pointer;
 }
 
 .absolutePopup > p:hover {
    background-color: #f65251;
 }