.filterBar {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.filterBar > button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}